body {
    font-family: Arial, sans-serif;
    background-color: #cfad25; /* Cambia il colore di sfondo a giallo pastello */  /* altro colore esadecimale: FFCC00 */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #D3D3D3; /* Light gray */
    color: black; /* Changed text color to black */
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #999;
}

button:hover {
    background-color: #C0C0C0; /* Slightly darker gray for hover effect */
}

button:active {
    background-color: #A9A9A9; /* Even darker gray for active state */
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

#message {
    display: none;
    margin-top: 20px;
    font-size: 20px;
    color: #333;
    text-align: center; /* Aggiunge centratura al testo del messaggio */
    width: 100%; /* Assicura che il messaggio prenda tutta la larghezza del contenitore */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Imposta l'altezza della pagina uguale all'altezza della viewport */
    flex-direction: column; /* Dispone il contenuto in colonna */
}

h1 {
    text-align: center;
    margin-top: 20px;
}

h2 {
    text-align: justify;
    margin-top: 10px;
}

.title-subtitle {
    text-align: center;
    margin-bottom: 30px; /* Aggiunge spazio tra il titolo/sottotitolo e il bottone */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown {
    position: absolute;
    top: 10px;
    left: 10px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
